body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 800px;
}
.podium {
    display : flex;
    gap: 0.3rem;
    align-items: center;
}
.second {
    display: flex;
    flex-direction: column;
}
.second-top{
    width: 120px;
    background-color: rgb(178,178,178);
    height: 60px;
    margin-bottom: 0.3rem;
}
.second-text{
    width: 120px;
    line-height: 90px;
    background-color: rgb(218,218,218);
    text-align: center;
    font-weight: bold;
}
.first-top{
    width: 120px;
    background-color: rgb(253,205,2);
    height: 60px;
    margin-bottom: 0.3rem
}
.first-text{
    width: 120px;
    line-height: 140px;
    background-color: rgb(218,218,218);
    text-align: center;
    font-weight: bold;
}
.third-top{
    background-color: rgb(204,111,52);
    width: 120px;
    height: 60px;
    margin-bottom: 0.3rem;
}
.third-text{
    width: 120px;
    line-height: 60px;
    background-color: rgb(218,218,218);
    text-align: center;
    font-weight: bold;
}